<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="banner_ask">
    <h3> <%= @ask %> </h3>
    <p>- You</p>
  </div>

  <div class="banner_answer">
    <h3> <%= @coach %> </h3>
    <p>- Your coach</p>
  </div>
  <br>
  <%= link_to "Ask  new question", ask_path %>
</div>